img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top:160px;
    padding-bottom:10px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  #searchbar {
      position:relative;
      width:600px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      padding:10px;
  }
  
  .button1 {
      position:relative;
      top:10px;
      left:42%;
      display: block;
      padding:10px;
      float:left;
  }
  
  .button2 {
      position:relative;
      top:10px;
      padding:10px;
      left:43%;
  }
      
  .bottom {
      margin:0;
      overflow: hidden;
  background-color:#c2bebe;
  position:fixed;
  left:1px;
  bottom:0;
  width:100%;
  }	
      